<link rel="stylesheet" type="text/css" href="/css/app.css" />

<div class="nav">
	<div class="logo">
		<img src="http://placehold.it/200x50" />
	</div>
	<div>
		{% if inSettings %}
			<a href="{{ route('dashboard_index') }}">Pages</a>
		{% endif %}
		{% if not inSettings %}
		<a href="{{ route('entry_create') }}">Create entry</a>
		<ul>
			<li>pages...</li>
		</ul>
		{% endif %}
	</div>
	<div>
		{% if not inSettings %}
			<a href="{{ route('settings_index') }}">Settings</a>
		{% endif %}
		{% if inSettings %}
		<ul>
			<li><a href="#">Fields</a></li>
			<li><a href="#">Field Groups</a></li>
			<li><a href="{{ route('region_index') }}">Regions</a></li>
			<li><a href="{{ route('template_index') }}">Templates</a></li>
		</ul>
		{% endif %}
	</div>
</div>

<div class="content">
	{% block content %}{% endblock %}
</div>